<div class="container">
    <p class="title">List phone number management</p>
    <form action="/country/phonenumber-create" method="post" class="form">
        <p class ="title">Add phone number</p>
        <div class="phonenumber">
            <label for="phonenumber" class="phonenumber">Enter phone number</label>
            <input type="text" class="phonenumber" name="phonenumber">
        </div>
        <div class="country">
            <label for="country" class="country">Choose country for phone number</label>        
        </div>
        <input type="submit" class="button" value="Add">
    </form>
</div>